<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <ul>
            <li><a href="{{ path('product_list') }}">List</a></li>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('product_admin_create') }}">Create product</a></li>
                {% endif %}
            
                <li>Username: {{ app.user.username }}</li>
                <li><a href="{{ path('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ path('login') }}">Login</a></li>
            {% endif %}
        </ul>

        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="flash-notice">
                {{ flash_message|trans }}
            </div>
        {% endfor %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
