{% extends 'base.html.twig' %}

{% block body %}

<div class="count">
    {{ result.getTotalItemCount }}
</div>

<table>
{% for article in result %}
<tr {% if loop.index is odd %}class="color"{% endif %}>
    <td>{{ article.id }}</td>
    <td>{{ article.name }}</td>
    <!-- <td>{{ article.description }}</td> -->
    <td>{{ article.price | number_format(2, '.', ' ') }}</td>
</tr>
{% endfor %}
</table>

<div class="navigation">
    {% include 'KnpPaginatorBundle:Pagination:sliding.html.twig' with result.getPaginationData|merge({
        'route': 'product_list',
        'query': {'page': app.request.get('page')},
        'pageParameterName': 'page'
}) only %}
</div>

{% endblock %}
